h1 {
  border: 2px #eee solid;
  color: rgb(65, 221, 86);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

h2 {
  border: 2px rgb(52, 16, 214) solid;
  color: aqua;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
#content h1 {
    background: #2B6695;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    Font-family: "Microsoft YaHei", "Tahoma", "boldface", Arial;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
}