h1 {
  border: 2px #eee solid;
  color: rgb(65, 221, 86);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

h2 {
  border: 2px rgb(52, 16, 214) solid;
  color: aqua;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
